# NPM packages folder.
node_modules

# Logs
logs
*.log
npm-debug.log*

# node-waf configuration
.lock-wscript

# Optional npm cache directory
.npm

# client
/client/node_modules
/client/dist
/client/src/static

# Optional REPL history
.node_repl_history

# Jest Coverage
coverage

# misc
.DS_Store
altScripts.js
.env